# Local Virtual Environments & Conda
.venv/
venv/
env/
__pycache__/
*.pyc

# Local IDE Settings
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Data Storage (Ignore generated datasets)
data/bronze/*
data/silver/*
data/gold/*

# Preserve Directory Structure in Git
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
